* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url(../img/bg.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.container {
  position: relative;
  margin-top: 50px;
  padding: 15px 30px 40px 30px;
  width: 500px;
  border-radius: 5px;
  height: auto;
  background-color: aliceblue;
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.info-container > i {
  height: 20px;
}

.mainlogo {
  width: 200px;
  justify-content: center;
  text-align: center;
}

.logotext {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  line-height: 35px;
  margin: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: auto;
}

#wrong {
  color: white;
}

.login-form > input {
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid grey;
  border-radius: 7px;
  background-color: aliceblue;
}

input[type="text"],
[type="password"] {
  font-size: 15px;
  padding-left: 20px;
}

.login-form #wrongEmail, #wrongPassword{
  color: red;
  padding-bottom: 15px;
  display: none;
}

.forgot-psw {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.remember-me {
  display: flex;
  gap: 7px;
}

.forgot-psw > a {
  color: red;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 10px;
}

.signbtn {
  background-color: black;
  height: 40px;
  border: 1px solid black;
  text-decoration: none;
  justify-content: center;
  color: aliceblue;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.register-menu {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 25px;
}

.register-menu > a {
  color: red;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .container{
        width: auto;
        height: auto;
        gap: auto;
    }

    .forgot-psw{
        flex-direction: column;
    }
}
